HELP.md
target/
resources/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

in1.txt
in2.txt
in3.txt
in4.txt
in5.txt
in6.txt
st1.txt
st2.txt
st3.txt
out.txt

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr


